body {
    overflow-y: hidden; /* Hide vertical scrollbar */
    overflow-x: hidden; /* Hide horizontal scrollbar */
}
.first-container {
    display: flex;
    flex-direction: column;
    height: 30vh;
}

.first-container mat-card {
    height: 30vh;
}

.second-container {
    display: flex;
    flex-direction: row;
    top: 0;
    bottom: 0;
}

.second-container .room-details {
    width: 70vw;
    height: 70vh;
    margin: 0;
    /* background-color: #dcdcdc; */
    background-color: #f8f8f8;
}

.second-container .cart-detail {
    height: 70vh;
    width: 30vw;
    margin: 0;
}

.cart-details-div {
    display: contents;
    flex-direction: row;
    text-align: center;
}

.slick-slider {
    width: 90%;
    /* margin-left: 20px; */
}
table,
th,
td {
    border-collapse: collapse;
}
th,
td {
    padding: 5px;
    text-align: left;
}
mat-icon {
    vertical-align: middle;
    position: relative;
    top: -1px;
}
.vertical {
    border-left: 4px solid black;
    height: 60vh;
    position: absolute;
    margin-left: 24vw;
}
left-panel {
    width: 20%;
}

.first-container mat-card {
    height: 55vh;
    width: 100hw;
}
