<div class="body-class">
    <div>
        <div>
            <mat-card>
                <mat-card-title>Fill Out Your Booking Details</mat-card-title>
                <form
                    [formGroup]="bookingGroup"
                    (ngSubmit)="onSubmit(formDirective)"
                    #formDirective="ngForm"
                >
                    <div class="form-container" fxLayout="column">
                        <mat-form-field>
                            <input
                                matInput
                                formControlName="full_name"
                                required
                            />
                            <mat-label>Full Name</mat-label>
                        </mat-form-field>
                        <mat-form-field>
                            <input
                                matInput
                                formControlName="mobile_number"
                                required
                            />
                            <mat-label>Mobile Number</mat-label>
                        </mat-form-field>
                        <mat-form-field>
                            <input
                                matInput
                                formControlName="email_id"
                                required
                            />
                            <mat-label>Email Id</mat-label>
                        </mat-form-field>
                        <mat-form-field>
                            <input matInput formControlName="age" required />
                            <mat-label>Age</mat-label>
                        </mat-form-field>

                        <!-- <mat-label>Upload Aadhar image</mat-label> -->
                    </div>
                    <div style="display: flex; flex-direction: row;">
                        <div>
                            <label style="color: black; font-weight: 500;"
                                >Upload Aadhar</label
                            >
                            <input
                                style="display: none;"
                                accept="image/x-png,image/gif,image/jpeg"
                                type="file"
                                (change)="onFileSelect($event)"
                                #fileinput
                            />

                            <button
                                style="margin-left: 10px; font-weight: 400; color: black;"
                                mat-stroked-button
                                (click)="fileinput.click()"
                            >
                                Pick one
                            </button>
                        </div>

                        <div
                            class="image-preview"
                            *ngIf="previewUrl"
                            style="margin-left: 10px;"
                        >
                            <img [src]="previewUrl" class="img-thumbnail" />
                        </div>
                    </div>

                    <div style="text-align: center;">
                        <button mat-raised-button color="primary" type="submit">
                            Submit
                        </button>
                    </div>
                </form>
            </mat-card>
        </div>
    </div>
</div>
