.body-class {
    height: 100vh;
    background: url(../../assets/discover_pool.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    margin: 0;
}
.from-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}
mat-card {
    width: 75vw;
    background-color: rgb(192, 192, 192, 0.2);
    margin-top: 12px;
    margin: 17px auto;
    float: none;
    margin-bottom: 10px;
}
mat-label {
    color: black;
    font-weight: 500;
}
.image-preview img {
    width: 100px;
    height: 100px;
}
