.roomChart {
    background-color: #f8f8f8;
}

.badge-primary {
    color: #fff;
    background-color: #a0a0a0;
    padding: 5px;
    margin: 0px 5px 5px 0px;
}
.seatrow {
    display: inline-flex;
}
.pricing-label {
    font-weight: bold;
    margin: 0px 0px 16px 16px;
    padding: 0;
    text-align: left;
    color: #a0a0a0;
    border-bottom: 1px solid #e2e2e2;
}
.seat-item {
    height: 50px;
    width: 50px;
    line-height: 30px;
    margin: 20px;
    border-radius: 7px;
    font-size: 8px;
    padding-left: 5px;
}
.wrapper {
    height: 65px;
    width: 65px;
    /* margin: 20px; */
    border-radius: 7px;
    /* padding-left: 5px; */
}
.seat-space {
    background-color: #f8f8f8 !important;
    border: 0;
    background-image: none;
    cursor: context-menu !important;
}
.seat-available {
    color: #a0a0a0;
    background-color: white;
    font-weight: bolder;
    border: 1px solid #a0a0a0;
    cursor: pointer;
}
.seat-available:hover {
    color: #a0a0a0;
    background-color: white;
    border: 1px solid #a0a0a0;
    cursor: pointer;
}
.seat-reserved {
    color: #7e7878;
    background-color: #4b4949;
    font-weight: bolder;
    border: 1px solid #7e7878;
    cursor: pointer;
}
.seat-reserved:hover {
    color: #7e7878;
    background-color: #4b4949;
    border: 1px solid #7e7878;
    cursor: pointer;
}
.seat-maintenance {
    color: rgba(255, 255, 255, 0.87);
    background-color: red;
    font-weight: bolder;
    border: 1px solid white;
    pointer-events: none;
}
.seat-maintenance:hover {
    color: rgba(255, 255, 255, 0.87);
    background-color: red;
    border: 1px solid white;
    pointer-events: none;
}
.seat-booked {
    color: white;
    font-weight: bolder;
    background-color: green;
    border: 1px solid white;
    pointer-events: none;
}
/* .seat-item:hover {
    cursor: pointer;
} */

.seat-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.status {
    margin: 30px;
    padding: auto;
}

.seat-screen {
    background-color: gray;
    color: white;
    padding: 1%;
    text-align: center;
    font-weight: bolder;
}
.bookingbar {
    z-index: 1000;
    bottom: 0;
    position: fixed;
    background: white;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    display: inline-flex;
    width: 102%;
}
.bookingbar h5 {
    font-weight: bold;
}
.book-area {
    width: 100%;
    padding: 0;
    margin: 0;
}
button {
    width: 100%;
    height: 100%;
    margin: 0;
}

.total-amount {
    background-color: #f17924;
    color: white;
    cursor: pointer;
}
.row-label {
    color: black;
    background-color: #f8f8f8;
    min-width: 90px;
    font-weight: bolder;
    line-height: 60px;
}

.booking-summary {
    display: inline-flex;
}
.summary-bar {
    display: inline-flex;
    margin-top: 1%;
}
.no-padding {
    padding: 0;
}
mat-card {
    max-width: 300px;
    margin: auto;
}

/* .mat-card-avatar {
    background-image: url('../../assets/Room_types/StudioLoft.jpg');
    background-size: cover;
} */

mat-card-content h5 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
        'Lucida Sans', Arial, sans-serif;
}

mat-card-footer {
    height: 40px;
    width: auto;
    background-color: #f0efef;
    display: flex;
    align-items: center;
    justify-content: center;
}

mat-card-footer p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
        'Lucida Sans', Arial, sans-serif;
    margin: 0 auto;
}

:host >>> .tooltip-inner {
    padding: 0;
}

:host >>> .tooltip.top .tooltip-arrow:before,
:host >>> .tooltip.top .tooltip-arrow {
    border-top-color: #009688;
}

:host >>> .tooltip.bottom .tooltip-arrow:before,
:host >>> .tooltip.bottom .tooltip-arrow {
    border-bottom-color: #009688;
}

:host >>> .tooltip.right .tooltip-arrow:before,
:host >>> .tooltip.right .tooltip-arrow {
    border-right-color: #009688;
}

:host >>> .tooltip.left .tooltip-arrow:before,
:host >>> .tooltip.left .tooltip-arrow {
    border-left-color: #009688;
}
