<div class="roomChart">
    <div class="seat-container">
        <div *ngFor="let seatrow of seatmap">
            <div
                class="col-12 pricing-label"
                *ngIf="
                    seatChartConfig?.showRowWisePricing &&
                    seatrow.seatPricingInformation != ''
                "
            >
                {{ seatrow.seatPricingInformation }}
            </div>
            <div class="seatrow container">
                <div *ngIf="seatChartConfig?.showRowsLabel">
                    <div class="row-label">{{ seatrow.seatRowLabel }}</div>
                </div>
                <div
                    *ngFor="let seatobj of seatrow.seats"
                    class="wrapper"
                    [ngStyle]="{
                        cursor:
                            seatobj.status === 'Maintenance' ||
                            seatobj.status === 'Blocked'
                                ? 'not-allowed'
                                : 'pointer'
                    }"
                >
                    <div
                        class="seat-item seat-space"
                        style="color: white; background-color: white;"
                        *ngIf="seatobj.seatLabel == ''"
                    >
                        &nbsp;
                    </div>
                    <div
                        [tooltip]="popTemplate"
                        placement="top"
                        [ngClass]="{
                            'seat-item': true,
                            'seat-available': seatobj.status == 'Available',
                            'seat-reserved': seatobj.status == 'Reserved',
                            'seat-booked': seatobj.status == 'Blocked',
                            'seat-maintenance': seatobj.status == 'Maintenance'
                        }"
                        (click)="selectSeat(seatobj)"
                        *ngIf="
                            (seatobj.status == 'Available' ||
                                seatobj.status == 'Blocked' ||
                                seatobj.status == 'Maintenance' ||
                                seatobj.status == 'Reserved') &&
                            seatobj.seatLabel != ''
                        "
                    >
                        {{ seatobj.seatNo }}
                    </div>

                    <ng-template #popTemplate
                        ><mat-card>
                            <!-- <mat-card-header>
                                <div matCardAvatar></div>
                                <mat-card-title>Room</mat-card-title>
                                <mat-card-subtitle>Details</mat-card-subtitle>
                            </mat-card-header> -->
                            <img
                                matCardImage
                                src="{{ seatobj.path[3] }}"
                                height="100%"
                                width="100%"
                            />
                            <mat-card-content>
                                <h5>{{ seatobj.seatLabel }}</h5>
                                <p>{{ seatobj.status }}</p>
                            </mat-card-content>
                            <mat-card-footer>
                                <p>₹ {{ seatobj.price }} / Per Night</p>
                            </mat-card-footer>
                        </mat-card>
                    </ng-template>

                    <!-- <div
                        tooltip="Seat not Available"
                        placement="top"
                        [ngClass]="{
                            'seat-item': true,
                            'seat-maintenance': true
                        }"
                        *ngIf="
                            seatobj.status == 'Maintenance' &&
                            seatobj.seatLabel != ''
                        "
                    >
                        {{ seatobj.seatNo }}
                    </div> -->
                </div>
            </div>
        </div>
    </div>
    <!-- *ngIf="cart?.selectedSeats?.length > 0" -->
    <div class="container status">
        <div class="col-lg-12 summary-bar">
            <div class="col-lg-4">
                <div>
                    <h5>Total Selected : {{ cart?.selectedSeats?.length }}</h5>
                    <h5>
                        Total Amount :&nbsp;&nbsp; {{ cart.totalamount }} Rs
                    </h5>
                </div>
            </div>
            <div class="col-lg-8 selected-seats">
                <h5 class="col-lg-12 no-padding">Selected Seats :</h5>
                <span
                    *ngFor="let seat of cart.selectedSeats"
                    class="badge badge-primary"
                    >{{ seat.seatLabel }}</span
                >
            </div>
        </div>
        <div class="col-lg-12 book-area">
            <button
                [disabled]="cart?.selectedSeats?.length == 0"
                type="button"
                (click)="processBooking()"
                class="btn btn-primary"
            >
                Book Now
            </button>
        </div>
    </div>
</div>
